.project {
    max-width: 960px;
    padding: 20px 0;
    border-bottom: thin dotted;

    &:last-child {
        border-bottom: none;
    }

    h3 {
        max-width: 960px;
        @include center-block;
        padding: 0 20px;
    }
}
    
#about {
   li {
        display: inline-block;
        vertical-align: bottom;
    }
    img {
        display: block;
        height: 90px; // maybe use max-height instead because you might easily loose image proportions this way
        width: 80px;
    }
}    

.project-item {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    figure {
        width: 50%;
        height: inherit;
        img {
            width: 100%;
        }
    }
    article {
        width: 50%;
        text-align: center;
        margin: auto;
        padding: 0 20px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        font-style: normal;
    }
    
    @media screen and (max-width: $break-medium) {
        -webkit-justify-content: space-around;
        justify-content: space-around;
        figure,
        article {
            width: 100%;
            height: auto;
        }
        p {
            padding: 20px;
        }
    }

    @media screen and (max-width: $break-small) {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        img,
        p {
            width: 100%;
            height: auto;
        }
    }
}
